@model IEnumerable<Pidev.data.tp_jsf_project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Create","tp_jsf_project")" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
    </span>
    <span class="text">Ajouter Projet</span>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idp }) |
            @Html.ActionLink("Details", "Details", new { id=item.idp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idp })
        </td>
    </tr>
}

</table>
